#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container{
  background: linear-gradient(90deg, hwb(241 5% 3% / 0.808), #1196d4); ;
  width: 140vh;
  height: 700px;
  display: flex;
  justify-content: space-between;
  

}
.card1, .card2, .card3{
  background-color: #fff;
  width: 350px;
  height : 600px;
  margin : 40px;
  margin-top: 50px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
 
}

.card1:hover{
  padding: 5px;
  transition:0.35s all ease;
}
.card2:hover{
  padding: 10px;
  transition:0.35s all ease;
}
.card3:hover{
  padding: 10px;
  transition:0.35s all ease;
}

hr{
  width:85%;
}
h1{
  margin-bottom: 25px;
  margin-top: 2px;

}
.card-header{
  margin-bottom: 2px;
}
.card-body{
  display : flex;
  margin-top: 0;  
  text-align: left;
}

.btn{
  background-color: rgb(64, 160, 250) ;
  color: #fff;
  width: 300px;
  border-radius: 30px;
}
.untick{
  list-style: none;
  margin-bottom: 20px;
  margin-top: 2px;
  opacity: 0.8;
}
.tick {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 2px;
}
.tick, .untick{
  text-align: left;
  padding: 0;
}

.tick p::before{
  content: '✓ ';
  font-weight: bolder;
}
.untick p::before{
  content: 'x  ';
  font-weight: bolder;
  margin-right: 2px;
}
.btn-3{
  margin-top: 16px;
  background-color: rgb(64, 160, 250) ;
  color: #fff;
  width: 300px;
  border-radius: 30px;
}
.tick2 p::before{
  content: '✓ ';
  font-weight: bolder;
}
p{
  font-weight: 20000;
}
